<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>

    <ion-title>Mot de passe perdu</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="login-logo">
    <img src="assets/img/Logo-bb-2020.png" alt="Logo Baden Battle">
  </div>

  <form #forgotPasswordForm="ngForm" (keyup.enter)="sentEmail(forgotPasswordForm)" novalidate>
    <ion-list>
      <ion-item>
        <ion-label position="stacked" color="primary">Email</ion-label>
        <ion-input [(ngModel)]="emailValue" name="email" type="email" #email="ngModel" autocapitalize="off"
                   required>
        </ion-input>
      </ion-item>

      <ion-text color="danger">
        <p [hidden]="email.valid || submitted == false" class="ion-padding-start">
          Email requis
        </p>
      </ion-text>
    </ion-list>

    <ion-row>
      <ion-col>
        <ion-button (click)="this.navCtrl.navigateBack('/login')" color="light" expand="block">Retour</ion-button>
      </ion-col>
      <ion-col>
        <ion-button (click)="sentEmail(forgotPasswordForm)" type="submit" expand="block">Réinitialiser</ion-button>
      </ion-col>
    </ion-row>
  </form>

</ion-content>
